In [6]:
import pandas as pd
import html5lib
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)
#read_html returns a list of dataframe objects, so the first object in the list is the pandas dataframe. Use index 0 to access it.

In [33]:
df = data[0]
df.shape

(288, 3)

<h3> Drop any values that are 'Not assigned' in the Borough column </h3>

In [17]:
df_1 = df[df.Borough != 'Not assigned']
df_1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

<h3> Check to make sure the drop worked </h3>

In [28]:
df_1.loc[df_1.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

<h3> Replace 'Not assigned' value in the Neighbourhood column with the correspoding Borough value </h3>

In [27]:
df_1['Neighbourhood'].replace('Not assigned', value=(df_1.loc[8, 'Borough']))

2                                              Parkwoods
3                                       Victoria Village
4                                           Harbourfront
5                                            Regent Park
6                                       Lawrence Heights
7                                         Lawrence Manor
8                                           Queen's Park
10                                      Islington Avenue
11                                                 Rouge
12                                               Malvern
14                                       Don Mills North
15                                      Woodbine Gardens
16                                         Parkview Hill
17                                               Ryerson
18                                       Garden District
19                                             Glencairn
22                                            Cloverdale
23                                             Islington
24                                          Martin Grove
25                                      Princess Gardens
26                                       West Deane Park
27                                        Highland Creek
28                                            Rouge Hill
29                                            Port Union
31                                       Flemingdon Park
32                                       Don Mills South
33                                      Woodbine Heights
34                                        St. James Town
35                                    Humewood-Cedarvale
38                                     Bloordale Gardens
                             ...
235                                          Thistletown
236                                      L'Amoreaux West
239                                             Rosedale
240                      Stn A PO Boxes 25 The Esplanade
243                                            Alderwood
244                                          Long Branch
245                                            Northwest
246                                          Upper Rouge
249                                          Cabbagetown
250                                       St. James Town
251                                 First Canadian Place
252                                     Underground city
255                                         The Kingsway
256                                      Montgomery Road
257                                       Old Mill North
262                                 Church and Wellesley
265    Business Reply Mail Processing Centre 969 Eastern
266                                           Humber Bay
267                                     King's Mill Park
268                             Kingsway Park South East
269                                            Mimico NE
270                                       Old Mill South
271                                   The Queensway East
272                                Royal York South East
273                                             Sunnylea
282                             Kingsway Park South West
283                                            Mimico NW
284                                   The Queensway West
285                                Royal York South West
286                                       South of Bloor
Name: Neighbourhood, Length: 211, dtype: object

In [29]:
df_1.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

<h3> Group by Postcode and aggregate Neighbourhood values </h3>

In [36]:
df_2 = df_1.groupby('Postcode').agg(lambda x : ','.join(set(x)))

In [38]:
df_2.shape

(103, 2)